<div class="w-50 d-flex justify-content-around d-inline-block center-by-margin">
  <% if @user.avatar? %>
    <img src='<%= @user.avatar %>' class =" pages_icon_image"
                                    alt = "ユーザーアイコン">
  <% else %>
    <img src="/assets/default.jpg" class = "pages_icon_image"
                                    alt = "ユーザーアイコン" %>
  <% end %>
    <div class="w-80">
      <div class="d-flex align-items-start">
        <h3 class="d-inline-block mb-0 mr-3"><%= @user.user_name %></h3>
        <% if @user == current_user %>
          <%= link_to 'プロフィール変更', profile_edit_path,
                      class: "black btn btn-light d-inline-block" %>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST,
                  class: "black btn btn-outline-secondary d-inline-block" %>
          <% else %>
            <%= link_to 'フォローする', follow_path(@user.id), method: :POST,
                  class: "black btn btn-outline-secondaryt d-inline-block" %>
          <% end %>
        <% end %>
      </div>
      <p class="d-inline-block mr-2">
        投稿 <%= @user.microposts.count %>件
      </p>
      <p class="d-inline-block mr-2">
        <%= "フォロー: #{@user.follower.count}人" %>
      </p>
      <p class="d-inline-block">
        <%= "フォロワー: #{@user.followed.count}人" %>
      </p>
      <h5><%= @user.full_name %></h5>
      <p><%= @user.introduction %></p>
      <a href="<%= @user.website %>"><%= @user.website %></a>
    </div>
</div>
<div class="blank_space">

</div>
<h3>フォロー一覧</h3>
  <% @user.following_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} name: #{user.user_name}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", page_path(user.id) %>
    </p>
  <% end %>
<h3>フォロワー一覧</h3>
  <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
    <p>
      <%= "id: #{user.id} name: #{user.user_name}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", page_path(user.id) %>
    </p>
  <% end %>

<div class="col-md-8">
  <% if @user.microposts.any? %>
    <% @micropost.each do |micropost| %>
      <ol class="microposts">
        <%= render micropost %>
      </ol>

    <% end %>
  <% end %>
</div>

<h3>いいねしている投稿</h3>
<% @user.liked_posts.each do |post| %>
  <%= post.user.user_name %>
  <%= image_tag post.image.to_s %>
<% end %>
