<h1>こんにちは、<%= current_user.user_name %>さん</h1>
<p>ユーザー用ページです。</p>

<% if current_user.avatar? %>
  <img src='<%= current_user.avatar  %>' class="icon_image" alt="ユーザーアイコン">
<% else %>
  <image src="/assets/default.jpg" class="icon_image" alt="ユーザーアイコン" %>
<% end %>

<%= link_to 'プロフィール変更', profile_edit_path %>

<div class="col-md-8">
  <% if @user.microposts.any? %>
    <% @micropost.each do |micropost| %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render micropost %>
      </ol>

    <% end %>
  <% end %>
</div>
