<span class="user"><%= link_to @micropost.user.user_name, page_path(@micropost.user) %></span>
<span class="content"><%= @micropost.comment %></span>
<%= image_tag @micropost.image.to_s %>
<span class="timestamp">
  Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
</span>

<h3>いいね件数: <%= @micropost.likes.count %></h3>
<% if current_user.already_liked?(@micropost) %>
  <%= button_to 'いいねを取り消す', micropost_like_path(@micropost), method: :delete %>
<% else %>
  <%= button_to 'いいね', micropost_likes_path(@micropost) %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @micropost.liked_users.each do |user| %>
  <li><%= user.user_name %></li>
<% end %>

<div class="comment-wrapper border-top mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @postcomments.each do |c| %>
    <div>
      <% unless c.user.blank? %>
        <div class="avatar_link">
          <a href="<%= page_path(c.user_id) %>" >
            <% if c.user.avatar? %>
              <%= image_tag c.user.avatar.to_s,
              class:"rounded-circle icon_image mr-3 mb-3"%>
            <% else %>
              <%= image_tag "/assets/default.jpg",class:"rounded-circle icon_image mr-3 mb-3" %>
            <% end %>
          </a>
        </div>
      <% end %>
      <%= c.user.user_name unless c.user.blank? %>
      <br />
      <%= c.content %>
    </div>
    <br />
  <% end %>
  <% if user_signed_in? %>
    <%= form_with(model: [@micropost, @postcomment], local: true) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
